.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-dark);
  color: var(--gray-100);

  height: 3.25rem;
  padding: 1rem;

  border: 0;
  border-radius: 8px;
  gap: 0.5rem;
  box-shadow: none;

  line-height: 140%;
  font-weight: bold;
  font-size: 0.875rem;
  cursor: pointer;

  transition: 0.3s;
}

.container:hover {
  background-color: var(--blue);
}

.container:disabled {
  background-color: var(--gray-300);
  cursor: not-allowed;
}
