.container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;

  margin-bottom: 0.75rem;
}

.allTasksContainer {
  display: flex;
  align-items: center;
}

.allTasksContainer > p {
  font-size: 14px;
  font-weight: 700;
  color: var(--blue);
}

.finishTaskContainer {
  display: flex;
  align-items: center;
}

.finishTaskContainer > p {
  font-size: 14px;
  font-weight: 700;
  color: var(--purple);
}

.allTasksContainer > span {
  margin-left: 0.5rem;
  background-color: var(--gray-400);
  padding: 0.125rem 0.5rem;
  border-radius: 999px;

  color: var(--gray-200);
  border: solid 1px #000000;
}

.finishTaskContainer > span {
  margin-left: 0.5rem;
  background-color: var(--gray-400);
  padding: 0.125rem 0.5rem;
  border-radius: 999px;

  color: var(--gray-200);
  border-color: #000000;
}
